/* ========================================
Root Applied Globals and Color schemes
========================================  */ 


:root{   
  --global-background: rgba(1, 1, 124, 0.815);
  --global-color: rgba(69, 69, 248, 0.9);
  --home-list-color: rgba(58, 58, 250, 0.158);
  --top-menu-bar-background: rgba(3, 3, 129, 0.815);
  --modal-component-color: rgb(139, 139, 247);
  --modal-component-background: rgba(69, 69, 248, 0.2);
  
  --bubbly-button-shade-1: rgba(76, 0, 255, 0.2);
  --bubbly-button-shade-2: rgba(76, 3, 211, 0.808);
  --bubbly-button-shade-3: rgba(70, 17, 196, 0.842);
  --bubbly-button-shade-4: rgba(2, 120, 255, 0.5);
  font-family: sans-serif;
  background: var(--global-color);
  background-color: var(--global-background);
  display: flex;
  flex-direction: column;
  color: rgb(173, 186, 255);
}    

.master-container {
  width: 100%;
  flex-direction: column;
}    

/* ========================================
Top Navigation Bar
========================================  */          

.top-menu-bar {   
  display: flex;
  border-radius: 5px;
  background-color: var(--top-menu-bar-background);
  padding: 0.5rem;
  align-items: center;
}    

.top-menu-bar > .top-menu-bar-label {
  /* margin-left: auto; */
  font-size: 1.5em;
  flex-basis: 100%;
  flex-direction: row;
}    

/* ========================================
      Button Group Game Settings Layout
   ========================================  */


footer {
  display: flex;
  padding-bottom: 1em;
  justify-content:center;
  align-content:center;
  align-items: center;
    height: 8ch;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    background:rgb(3, 3, 3);

}

footer .footer-container{

}

footer .footer-links-grid {
  display: flex;
  justify-content: center;
    background-color:rgb(0, 0, 0);
    gap: 1em;
  margin: 1em;

}

footer .footer-links-grid .cell{
  justify-content: center;
  display: flex;
  color:#fff;
}

footer .footer-creator{
  justify-content: center;
  display: flex;
}

  /* ========================================
        Button Group Game Settings Layout
     ========================================  */   

.game-settings-button-group {   
    flex-wrap: nowrap;
}    

.game-settings-button-trigger{
    width: 90%;
}    

  /* ========================================
        My Modal
     ========================================  */  

.modal-component{
    background-color: var(--modal-component-background);
    color: var(--modal-component-color);
    border-radius: 5px;
    flex-direction: column;
    margin-top: 40vh;
    margin-left: 40vw;
    margin-right: 40vw;
    text-align: center;
    padding: 1em 0em;
    
}    

#spring-modal-title{
    margin-left: 1em;
    text-align: left;
}    

  /* ========================================
        Home Screen List (placeholder)
     ========================================  */  

.row {
    padding-top: 0.5em;
  }  

ol {
    padding-left: 0;
  }  

li {
    background-color: var(--home-list-color);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    cursor: pointer;
  }  

  li:last-child {
    margin-bottom: 0px;
  }  
  

  /* ========================================
            Fluo Button design  // Start
     ========================================  */

   .bubbly-button-main{
    width: 80%;
}

    .bubbly-button-sub{
        text-align: center; 
        width: 8%;
        padding:auto;
        min-width: 3ch;
        margin-left: 2%;
    }
.bubbly-button-group{
    display: inline;
    flex-wrap: wrap;
    min-width: 90vw;
}
  .bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bubbly-button-shade-3);
    color: inherit;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px var(--bubbly-button-shade-4);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, var(--bubbly-button-shade-3) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--bubbly-button-shade-3) 20%, transparent 30%), radial-gradient(circle, var(--bubbly-button-shade-3) 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, var(--bubbly-button-shade-3) 20%, transparent 20%), radial-gradient(circle, var(--bubbly-button-shade-3) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--bubbly-button-shade-3) 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: var(--bubbly-button-shade-2);
    box-shadow: 0 2px 25px var(--bubbly-button-shade-1);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

    /* ========================================
            Fluo Button design  // Start
     ========================================  */

     /* ==================================================================================================================================================== */